{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{blog.title}}</h1>
{% if blog.writer %}
<a href="{% url 'users:mypage' blog.writer.id %}">작성자 : {{blog.writer}}</a><br>
{% else %}
작성자 : None<br>
{% endif %}
{{blog.body}}<br>
{{blog.pub_date}}

<a href="{% url 'main:likes' blog.id %}">
    {% if user in blog.like.all %}
    취소
    {% else %}
    좋아요
    {% endif %}
</a>
{{blog.like_count}}개

<a href="{% url 'main:showupdate' blog.id %}">수정하기</a>
<a href="{% url 'main:delete' blog.id %}">삭제하기</a>

{% endblock %}